.dark-primary-color {
  background: #303F9F;
}
.default-primary-color {
  background: #3F51B5;
}
.light-primary-color {
  background: #C5CAE9;
}
.text-primary-color {
  color: #FFFFFF;
}
.accent-color {
  background: #536DFE;
}
.primary-text-color {
  color: #212121;
}
.secondary-text-color {
  color: #757575;
}
.divider-color {
  border-color: #BDBDBD;
}
.background-color {
  background: #ebeff1;
}
body {
  background: #ebeff1;
  color: #212121;
  font-family: 'Roboto', sans-serif;
}
#menu-btn {
  visibility: hidden;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
/*sidebar*/
.sidebar {
  padding: 1rem;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  height: 90vh;
  width: 20%;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  z-index: 9999999;
}
.sidebar a {
  color: #212121;
}
.sidebar h3 {
  font-weight: 700;
}
.sidebar h4,
p {
  font-size: 1.5rem;
}
/*help sidebar*/
.help-sidebar {
  visibility: hidden;
  float: right;
  margin-left: 80%;
  margin-top: 0;
  padding: 1rem;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  height: 90vh;
  width: 20%;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  z-index: 9999999;
}
.help-sidebar a {
  color: #212121;
}
.help-sidebar h3 {
  font-weight: 700;
}
.help-sidebar h4,
p {
  font-size: 1.5rem;
}
.navbar {
  max-width: 100%;
  background: #303f9f;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
}
.navbar-indigo .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  background: #3F51B5;
  color: #fff;
}
.wrapper {
  margin-left: 20%;
}
.padding {
  padding: 1rem;
}
/*dashboard*/
.panel-dashboard {
  border-radius: 50%;
}
/*panels*/
.panel-sidebar {
  background: #fff;
  font-weight: 700;
  padding: 1rem;
}
.panel-indigo {
  background: #303F9F;
  color: #fff;
  padding: 1rem;
}
/*mobile*/
@media only screen and (max-width: 500px) {
  .sidebar {
    width: 100%;
    visibility: hidden;
  }
  #menu-btn {
    visibility: visible;
  }
  .wrapper {
    margin-left: 0;
  }
}
